---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <div id="article_title">
      <h1 class="c-article__title">{{ page.title }}</h1>
    </div>
    <div id="article_time">
      <p class="c-article__time">
        <time content="{{ page.date | date: '%Y-%m-%d' }}">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>
    </div>
  </header>
  <div class="c-article__main">
    {{ content }}
    {% include comment.html %}
  </div>
  <footer class="c-article__footer">
    <p>
      {% for tag in page.tags %}
      <span class="c-tag">{{ tag }}</span>
      {% endfor %}
    </p>
  </footer>
</article>
